apiVersion: v1
kind: ConfigMap
metadata:
  name: production-repository
  namespace: {{ project_name }}-pipeline
data:
  branch: main
  host: {{ github_repo.replace('https://','').split("/")[0] }}
  org: {{ github_repo.replace('https://','').split("/")[1] }}
  repo: {{ project_name }}-production