apiVersion: v1
kind: ConfigMap
metadata:
  name: production-repository
  namespace: {{ project_name }}-pipeline
data:
  branch: main
  host: github.com
  org: cloud-native-garage-method-cohort
  repo: {{ project_name }}-production