apiVersion: v1
kind: Secret
metadata:
  name: containerreg-pull-secret
  namespace: {{ project_name }}-pipeline
data:
  .dockerconfigjson: {{ container_registry_encoded_json }}
type: kubernetes.io/dockerconfigjson
---
apiVersion: v1
kind: Secret
metadata:
  name: mycredentials-github
  namespace: {{ project_name }}-pipeline
  annotations:
    tekton.dev/git-0: https://github.com # Described below
type: kubernetes.io/basic-auth
stringData:
  username: {{ github_user }}
  password: {{ github_password }}